<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students List</title>
</head>
<body>
    <h1>Students List</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Picture</th>
        </tr>
        {% if students %}
            {% for student in students %}
            <tr>
                <td>{{ student['id'] }}</td>
                <td>{{ student['first_name'] }}</td>
                <td>{{ student['last_name'] }}</td>
                <td>{{ student['gender'] }}</td>
                <td><img src="{{ student['picture'] }}" alt="Picture of {{ student['first_name'] }}" width="100" height="100"></td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">No student data available</td>
            </tr>
        {% endif %}
    </table>
    <a href="/">Back to Home</a>
</body>
</html>
